<div id="question">
<p> <%= params[:question] %></p>
<p class="response"> - You </p>
</div>

<div id="answer">
<p> <%= @answer %></p>
<p class="response"> - Coach </p>
</div>

<%= link_to "Ask a new question", "/ask" %>
